body {
  font-size: 13px;
  color: #666;
  -webkit-user-select: none;
}
#app {
  width: 100vw;
  height: 100vh;
}
.app-toolbar {
  -webkit-app-region: drag;
  height: 24px;
  padding: 0 70px;
}
.scrolly-bar {
  border-width: 3px;
  &.axis-y {
    width: 13px;
  }
}
:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.4);
  &:hover {
    background-color: rgba(88, 88, 88, 0.75);
  }
}
