.form-item {
  display: flex;
  align-items: center;
  &[required] > label:first-child {
    &::after {
      content: '*';
      font-size: 10px;
      color: var(--dangerColor1);
    }
  }
  & > label:first-child {
    flex-shrink: 0;
  }
  & + .form-item {
    margin-top: 16px;
  }
}

.w-80 {
  width: 80px;
}

.w-140 {
  width: 140px;
}

.reverse {
  transform: rotateX(180deg);
}

.action-button {
  padding-top: 6px;
  font-size: 24px;
  cursor: pointer;
  color: var(--textMinor);
  & + .action-button {
    margin-left: 12px;
  }
  &:hover {
    color: var(--primaryColor);
  }
}
.list-field {
  border: 1px dashed var(--borderColor);
  & + .list-field {
    margin-top: 12px;
  }
}
.field-tools {
  text-align: right;
}
.list-field-move {
  transition: all .3s ease-in-out;
}
.list-field-enter,
.list-field-leave-to {
  opacity: 0;
}
.list-field-leave-active {
  position: absolute;
}
