input.input {
  -webkit-appearance: none;
  height: 28px;
  padding: 4px 8px;
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  transition: all .3s ease-in-out;
  &[block] {
    width: 100%
  }
  &:focus {
    border-color: var(--primaryColor);
  }
  &:user-invalid {
    border-color: var(--dangerColor);
  }
}
